:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

.container {
  display: flex;
  height: 100vh;
  margin: 0;
}
.main {
  display: flex;
  margin: auto;
  background: var(--color-light-grey);
  height: 500px;
  width: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  position: relative;
  margin-bottom: 40px;
  bottom: -19px;
}

.select__btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 130px;
  grid-row-gap: 70px;
}

.select__btn .btn {
  background-color: var(--color-white);
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.select__randbtn {
  display: flex;
  position: relative;
  bottom: 160px;
}

.select__randbtn .btn5 {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.select__randbtn span {
  margin: auto;
}